<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body class="container">
    <% include ../partials/header %>

    <main>
        <div>
            <h3>My trips journal</h3>
            <p>Welcome to your trips history</p>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
</body>

</html>