<header>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">
                    TripSo
                </a>
                <ul class="nav navbar-nav">
                    <% if (user) { %>
                        <li class="nav-item">
                            <a class="nav-link" href="/api/trips">My trips</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/api/trips/new">New</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/api/users/logout">Logout</a>
                        </li>
                    <% } else { %>  
                        <li class="nav-item">
                            <a class="nav-link" href="/api/users/login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/api/users/register">Register</a>
                        </li>
                    <% } %>
                </ul>
            </div>
        </div>
    </nav>
</header>

<% include ../partials/_messages %>